video#bgvid { 
    position: fixed; 
    right: 0; 
    top: 0;
    width: 100%; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}

div#notice {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    font-family: Arial, Verdana, Sans-serif;
}

div#notice a {
    color: #fff;
    font-style: underline;
    text-decoration: underline;
}
